<!-- Index -->
<div class="container">
    
    <div class="row-fluid">
        <div class="span12">
            <h1>RunGym</h1>
            <h3 class="lead">La palestra della corsa, <span id='redcolor'>gratis!</span></h3>
            <p>Inizia subito a misurare le tue <span id='redcolor'>performance</span> con <span id='redcolor'>rungym</span>,
                la palestra <span id='redcolor'>gratuita</span> per gli amanti della <span id='redcolor'>corsa</span>
            </p>
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span12">
            <a href='#login' class="btn btn-success btn-large">login</a>
            &nbsp;
            <button id="btnRegistrati" class="btn btn-info btn-large">registrati</button>
        </div>
    </div>
    <br><br>
    <div class="row-fluid">
        <div class="span12">
            <span class="label label-info"><span id ='version'></span>
        </div>
    </div>
</div>
