<!-- Dashboard -->
<div class="container">

    <div class="row">
        <div class="twelve columns special head">
            <h1>RunGym</h1>
            <h3 class="lead">Bentornato <span id='redcolor'><%= name %></span></h3>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large primary btn" style="width:100%;"><a href='#activity'>allenati</a></div><br><br>
            <!--<div class="large primary btn" style="width:100%;"><button id="btnAllenamento" style="width: 100%">allenati</button></div><br><br>//-->
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large secondary btn" style="width:100%;"><a href='#profile'>profilo</a></div><br><br>
            <!--<div class="large secondary btn" style="width:100%;"><button id="btnProfilo" style="width: 100%">profilo</button></div><br><br>//-->
        </div>
    </div>

    <div class="row" id="trasf">
        <div class="twelve columns">
            <div class="large warning btn" style="width:100%;"><a href='#send'>trasferisci</a></div><br><br>
            <!--<div class="large warning btn" style="width:100%;"><button id="btnTrasferimento" style="width: 100%">trasferisci</button></div><br><br>//-->
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large danger btn" style="width:100%;"><button id="btnLogout" style="width: 100%">esci</button></div>
        </div>
    </div>