<!-- Dashboard -->
<div class="container">

    <div class="row-fluid">
        <div class="span12">
            <h1>RunGym</h1>
            <h3 class="lead">Bentornato <span id='redcolor'><%= name %></span></h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <a href='#activity' class="btn btn-success btn-large btn-block">allenati</a>
            &nbsp;
            <a href='#profile' class="btn btn-info btn-large btn-block">profilo</a>
            &nbsp;
            <a href='#send' class="btn btn-warning btn-large btn-block" id="trasf">trasferisci</a>
            &nbsp;
            <button id="btnLogout" class="btn btn-danger btn-large btn-block">esci</button>
        </div>
    </div>