<!-- Send -->
<div class="container">

    <div class="row">
        <div class="twelve columns special head">
            <h1>RunGym</h1>
            <h3 class="lead">Trasferisci Allenamento</h3>
        </div>
    </div>

    <div class="row" id="send">
        <div class="twelve columns">
            <div class="large primary btn" style="width:100%;"><button id="btnSend" type="button"   style="width: 100%">trasferisci</button></div><br><br>
        </div>
    </div>

    <div class="row" id="del">
        <div class="twelve columns">
            <div class="large secondary btn" style="width:100%;"><button id="btnDelete" type="button"   style="width: 100%">cancella</button></div><br><br>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large danger btn" style="width:100%;"><a href="#dashboard">dashboard</a></div>
    	</div>
    </div>