<!-- Dashboard -->
<div class="container">

    <div class="row">
        <div class="twelve columns special head">
            <h1>RunGym</h1>
            <h3 class="lead">Bentornato <span id='redcolor'><%= name %></span></h3>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large primary btn" style="width:100%;"><a href="#activity">allenati</a></div><br><br>
    	</div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large secondary btn" style="width:100%;"><a href="#profile">il tuo profilo</a></div><br><br>
    	</div>
    </div>
    
    <div class="row" id="trasf">
        <div class="twelve columns">
            <div class="large warning btn" style="width:100%;"><a href="#send">trasferisci</a></div><br><br>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <div class="large danger btn" style="width:100%;"><a href="#logout">esci</a></div>
    	</div>
    </div>