<!-- Training -->
<div class="container">
    
    <div class="row">
        <div class="twelve columns">
            <h5><span id='redcolor'><span id ='activity_description'></span></span></h5>
        </div>
    </div>
    
    <div class="row">
        <div class="twelve columns">
            <h4><span id ='durata'>00:00:00</span></h4> 
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h5><span id ='distanza_percorsa'>0</span> km</h5>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h6>velocità istantanea</h6>
            <li class="primary badge"><span id ='velms'>0</span> m/s</li>
            <li class="primary badge"><span id ='velkmh'>0</span> Km/h</li>    
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h6>velocità media</h6>
            <li class="primary badge"><span id ='velmediams'>0</span> m/s</li>
            <li class="primary badge"><span id ='velmediakmh'>0</span> Km/h</li>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h6>calorie consumate e gr persi</h6>
            <li class="primary badge"><span id ='cal'>0</span> cal</li>
            <li class="primary badge"><span id ='gr'>0</span>gr</li>
        </div>
    </div>    
    
    <div class="row">
        <div class="twelve columns special head">
            <h3 class="lead"></h3>
        </div>
    </div>
        
    <div class="row">
        <div class="twelve columns">
            <div class="medium primary btn"><button id="btnStart" style="width: 130px;">inizia</button></div>
            <div class="medium danger btn"><button id="btnEnd" style="width: 130px;">termina</button></div>
    	</div>
    </div>
