<!-- Training -->
<div class="container">

    <div class="row-fluid">
        <div class="span12">
            <h6><span id ='activity_description' class="label label-info"></span></h6>
            <h2><span id ='durata'>00:00:00</span></h2>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <span id ='distanza_percorsa' class="badge badge-important">0</span> km
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <span id ='velms' class="badge badge-success">0</span> m/s
            <span id ='velkmh' class="badge badge-success">0</span> Km/h
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <span id ='velmediams' class="badge badge-warning">0</span> m/s
            <span id ='velmediakmh' class="badge badge-warning">0</span> Km/h
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <span id ='cal' class="badge badge-info">0</span> cal
            <span id ='gr' class="badge badge-info">0</span> gr
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3 class="lead"></h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <button id="btnStart" class="btn btn-success btn-large">inizia</button>
            <button id="btnEnd" class="btn btn-danger btn-large">termina</button>
    	</div>
    </div>

</div>